@tailwind base;

@tailwind components;

@tailwind utilities;

/* src/styles/global.css */
html, body, #__next {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}